@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <h2 class="text-center">Cool logo here</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Why another log tool?</h2>
        <p>
            I was in need of a simple and easy to use Log storage tool that I could customize the processing unit of the log. It's based on the nodejs Log tool <a href="https://github.com/benhurott/sand-castle-logger">Sand Castle Logger</a>.
        </p>
    </div>
</div>

<div class="row">
    <h2>Running</h2>
    <div class="highlight highlight-source-shell">
        <pre>dotnet restore
dotnet run</pre>
    </div>
    <p>
        And then, go ahead and look at your <code>http://localhot:5000</code> and it's up and running. After that, any post request that you send to <code>http://localhost:5000/log/$app_name</code> will be stored. You can send what you using the following structure.
    </p>
    <div class="highlight highlight-source-json">
        <pre>{
    "Title": "Log Title",
    "LogType": "Bug|Info|Cat|Whatever",
    "Body": "Any string that you want",
    "Token": "ABC123"
}</pre>
    </div>
    <p>Sample post:</p>
    <div class="highlight highlight-source-shell">
        <pre>curl -X POST http://localhost:5000/log/abc -H <span class="pl-s"><span class="pl-pds">'</span>content-type: application/json<span class="pl-pds">'</span></span> -d <span class="pl-s"><span class="pl-pds">'</span>{"Title": "Opsy","LogType": "bug","Body": "Exception on file abc.cs on line 17","Token": "ABC123"}<span class="pl-pds">'</span></span></pre>
    </div>
</div>

<h2>Features</h2>
<div class="row">
    <div class="col-md-3">
        <h4>Easy Create App</h4>
        <p>
            Just post your log, and if the app name is available... Voilà, your app is created.
        </p>
    </div>
    <div class="col-md-3">
        <h4>Custom processing unit <span class="small">(soon)</span></h4>
        <p>
            Chose what will be done to your log acording to filters and maybe code running on a container.
        </p>
    </div>
    <div class="col-md-3">
        <h4>Secure App <span class="small">(soon)</span></h4>
        <p>
            You can leave it open, or can secure with a token validation. Just send the token on your log post method, and it's done. Use the same token to aquire propertie of the application.
        </p>
    </div>
    <div class="col-md-3">
        <h4></h4>
        <p>
            
        </p>
    </div>
</div>
